/*============================================
                INTRO STYLES
============================================*/
.intro {
    padding: 150px 150px 0px;
}

.intro h1 {
    font-size: 4em;
    color: var(--black);
}

.intro p {
    font-size: 1.5em;
    color: var(--dark-grey);
    padding: 20px 30px 0px;
}


@media only screen and (max-width: 850px) {
    .intro { 
        padding: 150px 20px 0px; 
    }
    .intro h1 {
        text-align: center;
    }
}
/*============================================
                TEAM MEMBERS
============================================*/
.team {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.member  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 350px;
    border-radius: 30px;
    border: 4px solid var(--primary);
    box-shadow: 3px 3px 5px var(--grey);
}

.member:hover {
    box-shadow: 3px 3px 10px var(--grey);
}
.member img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0px;
}

.member h3 {
    background-color: var(--primary);
    color: var(--secondary);
    width: 100%;
    height: 15%;
    text-align: center;
    margin: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 15px;
    font-size: 1.5em;
    font-weight: 500;
}

.member p {
    padding: 10px 20px;
    font-size: 1em;
    color: var(--dark-grey);
    background-color: var(--primary);
    text-align: center;
}

@media only screen and (max-width: 850px) {
    .team {
        flex-direction: column;
        align-items: center;
    }
    .member {
        width: 80%;
        margin-bottom: 30px;
    }
    .member:hover {
        box-shadow: 5px 5px 30px var(--grey);
    }
}

/*============================================
                TEAM MEMBERS
============================================*/

#goals {
    padding: 20px 150px;
}

.intro a {
    display: block;
    width: 250px;
    text-decoration: none;
    font-size: 24px;
    padding: 15px 25px;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    margin: 20px;
}

.intro a:hover {
    background-color: #2c5e9b;
}

@media only screen and (max-width: 850px) {
    #goals {
        padding: 20px 30px;
    }

    #goals>div {
        flex: 1;
    }
    
    #goals>img {
        flex: 0;
       display: none;
    }

    p {
        text-align: center;
    }
    .intro a {
        margin: 20px auto;
    }
}