/*============================================
                INTRO STYLES
============================================*/
.intro {
    padding: 150px 150px 0px;
}

.intro h1 {
    font-size: 4em;
    color: var(--black);
}

.intro p {
    font-size: 1.5em;
    color: var(--dark-grey);
    padding: 20px 30px 0px;
}

.intro a {
    display: block;
    width: 150px;
    border: 2px solid var(--primary);
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 25px;
    color: var(--primary);
    font-size: 1em;
    margin: 25px 15px 0px;
}

.intro a:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

@media only screen and (max-width: 850px) {
    .intro { 
        padding: 150px 20px 0px; 
    }
    .intro h1 {
        text-align: center;
    }
}
/*============================================
                TEAM MEMBERS
============================================*/
.team {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.member  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 350px;
    border-radius: 30px;
    border: 4px solid var(--primary);
    box-shadow: 3px 3px 5px var(--grey);
}

.member:hover {
    box-shadow: 3px 3px 10px var(--grey);
}
.member img {
    object-fit: cover;
    width: 100%;
    height: 85%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0px;
}

.member h3 {
    background-color: var(--primary);
    color: var(--secondary);
    width: 100%;
    height: 15%;
    text-align: center;
    margin: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 15px;
    font-size: 1.5em;
    font-weight: 500;
}

@media only screen and (max-width: 850px) {
    .team {
        flex-direction: column;
        align-items: center;
    }
    .member {
        width: 80%;
        margin-bottom: 30px;
    }
    .member:hover {
        box-shadow: 5px 5px 30px var(--grey);
    }
}

/*============================================
                TEAM MEMBERS
============================================*/

#goals {
    padding: 20px 150px;
    display: flex;
}

#goals>div {
    flex: 3;
}

#goals>img {
    flex: 2;
    width: 40%;
    object-fit: contain;
}

@media only screen and (max-width: 850px) {
    #goals {
        padding: 20px 30px;
    }

    #goals>div {
        flex: 1;
    }
    
    #goals>img {
        flex: 0;
       display: none;
    }
}