@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*============================================
STYLES INITIALISATION - FONT AND COLOUR PALLETE
============================================*/
:root {
    /* note-to-self, use var(--primary) to access colours */ 
    --primary-dark: #183B4E;
    --primary: #27548A;
    --secondary: #DDA853; /* FBA834 */
    --black: #252525; 
    --white: #FAFAFA; 
    --grey:#cec9be;
    --dark-grey: #757575;
}

* {
    font-family: "Outfit", sans-serif;
    margin: 0px;
    /* transition: all 0.2s ease-in-out; */
}

body {
    background-color: var(--white);

}

.highlight{ 
    color: var(--secondary);
    font-weight: bold;
}

/*============================================
                NAVIGATION
============================================*/
nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    height: 85px;
    width: 100%;
}

nav img {
    width: 50px;
    object-fit: contain;
}

nav h1 {
    display: inline;
    color: var(--black);
    padding-left: 10px;
}

nav a {
    color: var(--white);
    font-size: 1.1em;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
}

nav a:hover {
    color: var(--secondary);
}

.nav-login {
    background-color: var(--primary-dark);
 
    margin-left: 15px;
    border-radius: 10px;
}

.nav-left {
    display: flex;
    flex: 30%;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 50px;
}

.nav-right{
    display: flex;
    flex: 70%;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 50px;
}

@media only screen and (max-width: 850px) {
    nav {
        flex-direction: column;
        height: 80px;
        padding: 10px;
    }
    .nav-left { 
        margin: 0px 10px; 
    }

    .nav-right { 
        margin: 0px 10px;
        justify-content: space-around;
    }

    nav a {
        margin: 0px;
    }
    

}
/*============================================
               LANDING STYLES
============================================*/
.landing {
    background-color: var(--primary);
    padding: 110px 25px 25px 25px;
    
}

.landing>img {
    object-fit: contain;
    width: 100%; 
    height: 250px;
    padding: 0px 0px 0px 20px;
    margin: auto;
}

.landing>h1{
    text-align: center;
    font-size: 3em;
    padding-bottom: 5px;
    color: var(--white);
}

.landing>p {
    text-align: center;
    font-size: 1em;
    padding-bottom: 15px;
    color: var(--grey);
}

.landing-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}
.landing-buttons img{
    width: 170px;
    height: 60px;
    object-fit: cover;
    margin: 15px;
}

.landing-buttons img:hover {
    filter: brightness(1.5) contrast(0.8);
}

/*============================================
            INFORMATION GRID
============================================*/
.information {
    margin: 20px;
    display: grid;
    grid-template-areas: 
        "text1  image1"
        "image2  image1" /* overlap images, bigger images take up less space */ 
        "image2  text2"
        "image2  image3" /* overlap images, bigger images take up less space */ 
        "text3 image3";
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto auto auto auto; 
}

/* add content into grids */ 
.text1 { grid-area: text1; } 
.image1 { grid-area: image1; }
.text2 { grid-area: text2; }
.image2 { grid-area: image2; }
.text3 { grid-area: text3; }
.image3 { grid-area: image3; }

.information>img {
    height: 100%;
    width: 70%;
    margin: auto;
    object-fit: contain;
}

.information>div {
    padding: 20px 50px 0px;
}

.information h2 {
    font-size: 3em;
    color: var(--black);
}

.information p {
    margin: 15px 15px 25px;
    font-size: 1.5em;
    color: var(--dark-grey);
}

.information a {
    border: 2px solid var(--primary);
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 25px;
    color: var(--primary);
    font-size: 1em;
    margin: 25px 15px 0px;
}

.information a:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

@media only screen and (max-width: 950px) {
    .information {
        display: block;
        width: 100%;
        margin: 20px 0px;
    }

    .text1, .text2, .text3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .information>img {
        width: 0px;
    }
    .information h2, .information p{
        text-align: center;
        margin-bottom: 20px;
    }

    .information a {
        margin: 0px 24%;
        text-align: center;
    }
}


/*============================================
            STATISTICS
============================================*/
.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px;
}

.stat {
    height: 120px;
    width: 20%;
    background-color: var(--primary-dark);
    border-radius: 25px;
    padding: 20px 50px 50px;
}

.stat:hover {
    box-shadow: 5px 5px 15px var(--grey);
}

.stat>h2 {
    color: var(--secondary);
    font-size: 3em;
    text-align: center;
}

.stat>p {
    color: var(--grey);
    font-size: 1.3em;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .stats {
        flex-direction: column;
        align-items: center;
    }

    .stat {
        height: 120px;
        width: 70%;
        background-color: var(--primary-dark);
        border-radius: 25px;
        padding: 20px 50px 50px;
        margin: 15px;
    }
}

/*============================================
               PROMO STYLES
============================================*/
.premium {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px 100px;
}

.promo-right {
    border-left: 2px solid var(--dark-grey);
    padding-left: 50px;
    margin-left: 20px;
}

.premium h1 {
    font-size: 4.5em;
    color: var(--black);
}

.premium h2 {
    font-size: 4em;
    color: var(--black);
}

.premium p {
    font-size: 1.5em;
    color: var(--dark-grey);
    margin-bottom: 30px;
}

.premium li {
    font-size: 1.5em;
    margin: 30px;
    display: block;
    text-decoration: none;
    color: var(--dark-grey);
}

.premium li::before {
    content: url('../assets/checkmark.png');
    display: inline;
    margin-right: 10px;
    vertical-align: middle;
}

.premium a {
    border: 2px solid var(--primary);
    text-decoration: none;
    border-radius: 15px;
    color: var(--primary);
    font-size: 1em;
    margin: 15px;
    padding: 10px 25px;
}

.premium a:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

@media only screen and (max-width: 1200px) {
    .premium {
        flex-direction: column;
        width: 90%;
        margin: 0px;
    }
    .promo-right {
        width: 100%;
        border-left: 0px solid ;
        margin: 15px 15px;
    }
    .promo-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .premium h1 { font-size: 10vw; }
    .premium h2 { font-size: 8vw; padding-top: 10px;}
    .premium p { text-align: center; }
    .premium ul { padding-left: 5px;}
    .premium li { list-style-position: inside; }
}


/*============================================
            WEBSITE FOOTER
============================================*/
.footer {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    padding: 50px 100px 0px;
}


.footer-title img {
    width: 50px;
    object-fit: contain;
    display: inline;

}

.footer-title h1 {
    color: var(--black);
    padding-left: 10px;
    margin: 0px;
}

.footer-title>p {
    color: var(--grey);
    margin: 15px;
    font-weight: bold;
}

.footer-title>a img {
    width: 120px;
    height: 40px;
    object-fit: cover;
    margin: 15px;
    display: block;
}

.footer-product, .footer-company, .footer-social {
    margin: 20px 50px;
}

.footer-product>h2, .footer-company>h2, .footer-social>h2 {
    color: var(--white);
}

.footer-product a, .footer-company a, .footer-social>a {
    display: block;
    color: var(--grey);
    text-decoration: none;
    margin: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: var(--primary);
   
}

.footer-bottom img, .footer-bottom p {
    margin: 15px;
    opacity: 0.5;
}

@media only screen and (max-width: 950px) {
    .footer {
        flex-wrap: wrap;
        padding: 50px 15px 0px;
    }
}