@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*============================================
STYLES INITIALISATION - FONT AND COLOUR PALLETE
============================================*/
:root {
    /* note-to-self, use var(--primary) to access colours */ 
    --primary: black;
    --secondary: white;
    --black: black; 
    --white: white; 
}

* {
    font-family: "Outfit", sans-serif;
}