@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*============================================
STYLES INITIALISATION - FONT AND COLOUR PALLETE
============================================*/
:root {
    /* note-to-self, use var(--primary) to access colours */ 
    --primary-dark: #183B4E;
    --primary: #27548A;
    --secondary: #DDA853; /* FBA834 */
    --black: #252525; 
    --white: #FAFAFA; 
    --grey:#cec9be;
    --dark-grey: #757575;
}

* {
    font-family: "Outfit", sans-serif;
    margin: 0px;
    transition: all 0.2s ease-in-out;
}

body {
    background-color: var(--white);
}

.highlight{ 
    color: var(--secondary);
    font-weight: bold;
}

/*============================================
                NAVIGATION
============================================*/
nav {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: var(--primary);
    height: 85px;
    width: 100%;
}

nav img {
    width: 50px;
    object-fit: contain;
}

nav h1 {
    display: inline;
    color: var(--black);
    padding-left: 10px;
}

nav li, nav button {
    display: inline;
    padding: 20px;
    text-decoration: none;

}

nav a {
    color: var(--white);
    font-size: 1.1em;
    text-decoration: none;
}

nav a:hover {
    color: var(--secondary);
}

.nav-login {
    background-color: var(--primary-dark);
    padding: 10px 15px;
    margin-left: 15px;
    border-radius: 10px;
}

.nav-left {
    display: flex;
    flex: 30%;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 50px;
}

.nav-right{
    display: flex;
    flex: 70%;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 50px;
}
/*============================================
               LANDING STYLES
============================================*/
.landing {
    background-color: var(--primary);
    padding: 110px 25px 25px 25px;
    
}

.landing>img {
    object-fit: contain;
    width: 100%; 
    height: 250px;
    padding: 0px 0px 0px 20px;
    margin: auto;
}

.landing>h1{
    text-align: center;
    font-size: 3em;
    padding-bottom: 5px;
    color: var(--white);
}

.landing>p {
    text-align: center;
    font-size: 1em;
    padding-bottom: 15px;
    color: var(--grey);
}

.landing-buttons {
    display: flex;
    justify-content: center;

    width: 100%;
}
.landing-buttons img{
    width: 170px;
    height: 60px;
    object-fit: cover;
    margin: 15px;
}

.landing-buttons img:hover {
    filter: brightness(1.5) contrast(0.8);
}

/*============================================
            INFORMATION GRID
============================================*/
.information {
    margin: 20px;
    display: grid;
    grid-template-areas: 
        "text1  image1"
        "image2  image1" /* overlap images, bigger images take up less space */ 
        "image2  text2"
        "image2  image3" /* overlap images, bigger images take up less space */ 
        "text3 image3";
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 350px 100px 350px 100px 350px; 
}

/* add content into grids */ 
.text1 { grid-area: text1; } 
.image1 { grid-area: image1; }
.text2 { grid-area: text2; }
.image2 { grid-area: image2; }
.text3 { grid-area: text3; }
.image3 { grid-area: image3; }



.information>img {
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

.information>div {
    padding: 20px 50px 0px;
}

.information h2 {
    font-size: 3em;
    color: var(--black);
}

.information p {
    margin: 15px 15px 25px;
    font-size: 1.5em;
    color: var(--dark-grey);
}

.information a {
    border: 2px solid var(--primary);
    text-decoration: none;
    border-radius: 15px;
    padding: 10px 25px;
    color: var(--primary);
    font-size: 1em;
    margin: 25px 15px 0px;
}

.information a:hover {
    background-color: var(--primary);
    color: var(--secondary);
}
